@use './styles/variables' as *;
@use './styles/shared';
@use './styles/navbar';
@use './styles/auth';
@use './styles/home';
@use './styles/drivers';
@use './styles/races';
@use './styles/teams';
@use './styles/discussion';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #E10600;
  --dark: #1a1a1a;
  --darker: #111111;
  --gray: #555555;
  --light-gray: #f5f5f5;
  --white: #ffffff;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--darker);
  color: var(--white);
  min-height: 100vh;
}


/* GENERAL */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
