@use './styles/variables' as *;
@use './styles/shared';
@use './styles/navbar';
@use './styles/auth';
@use './styles/home';
@use './styles/drivers';
@use './styles/races';
@use './styles/teams';
@use './styles/discussion';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $darker;
  color: $white;
  min-height: 100vh;
}